body {
    background-color: navajowhite;
}

h1 {
    color: darkslategray;
    font-family: sans-serif;
    padding: 10px;
}

p {
    color: darkslategray;
    font-family: sans-serif;
    padding-left: 10px;
}
