.App {
  text-align: center;
}

.App-webcam {
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3a4b6b;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  font-size: calc(7px + 2vmin);
  color: #3a4b6b;
}

.WeatherUnderground-link {
  color: #3a4b6b;
}

